<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<section>
		<div class="container-fluid p-5 mt-3">
			<div class="row">

				<div class="col-md-4">
					<div class=" card card-sh">
						<div
							class="card-header custom-card-header text-center " style="color: #ad200e; background-color: #e6b9b3">
							<p class="fs-4 fw-bold">Add
							Category</p> <th:block th:if="${session.succMsg}">
							<p class="text-success fw-bold">[[${session.succMsg}]]</p>
							<th:bolck th:text="${@commnServiceImpl.removeSessionMessage()}"></th:bolck>
							</th:block>
							
							<th:block th:if="${session.errorMsg}">
							<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
							<th:bolck th:text="${@commnServiceImpl.removeSessionMessage()}"></th:bolck>
							</th:block>
							</div>
						<div class="card-body">
							<form action="/admin/saveCategory" method="post"
								enctype="multipart/form-data">
								<div class="mb-3">
									<label>Enter Ctegory</label> <input type="text" name="name"
										class="form-control">
								</div>

								<div class="mb-3">
									<label>Status</label>

									<div class="form-check">
										<input class="form-check-input" type="radio" checked value="true"
											name="isActive" id="flexRadioDefault1"> <label
											class="form-check-label" for="flexRadioDefault1">
											<h5 style="color:green">Active</h5> </label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio"
											value="false" name="isActive" id="flexRadioDefault2" >
										<label class="form-check-label" for="flexRadioDefault2">
											<h5 style="color:red">InActive</h5> </label>
									</div>

								</div>
								
								<div class="mb-3">
									<label>Upload Image</label> <input type="file" name="file"
										class="form-control">
								</div>
								<button class="btn btn-warning col-md-12 mt-2">Save
									Category</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="crad card-sh">
						<div class="card-header text-center fs-1 fw-bold p-3"
							style="color: green; background-color: #b0b7bf">Category
							Details</div>
							
						<div class="card-body ">

							<table class="table table-success table-striped">
								<thead>
									<tr>
										<th scope="col">SI No</th>
										<th scope="col"><i class="fa-solid fa-layer-group"></i> Category</th>
										<th scope="col">Status</th>
										<th scope="col"><i class="fa-solid fa-images"></i> Image</th>
										<th scope="col" style="color:red"><i class="fa-solid fa-pen-fancy"></i> Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cat,c:${categorys}">
										<th scope="row">[[${c.count}]]</th>
										<td>[[${cat.name}]]</td>
										<td>[[${cat.isActive}]]</td>
										<td><img 
										th:src="@{'/img/product/'+${cat.imageName}}"width="50px" height="50px"></td>
										<td>
										<a th:href="@{'/admin/editCategory/'+${cat.id}}" class="btn btn-primary btn-sm mt-2"><i class="fa-solid fa-file-pen "></i>  Edit  </a>  
										<a th:href="@{'/admin/deleteCategory/'+${cat.id}}" class="btn btn-danger btn-sm mt-2">  <i class="fa-solid fa-trash"></i>  Delete</a>
										</td>
									</tr>

								</tbody>
							</table>

						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>