
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.card-sh{
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
	background-color:#d6f5f5;
}
.cat-div{
	box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}
.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
img:hover {
  transform: scale(1.3); /* Increase the size by 10% */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
	 background-color: #Add;
  /* Change the background color on hover */
  /* Add other styles as needed */
}
.card-body:hover{
	 background-color: #dff5f3;
}
.section{
	 background-color: #f3e9f5;
}
}
.body{
	 background-color:#e1e4e8;
}